.div{
    color: white;
    background-color: black;
    padding: 0px 0px 7px 0px;
    text-shadow: 1px 1px 2px grey;
    box-shadow: 2px 2px 4px brown;
    width: 80px;
    margin-bottom: 20px;
}

div:hover{
    height: 20px;
    padding: 1px 1px 8px 1px;
    box-shadow: 5px 5px 4px brown;
    margin-bottom: 16px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }